<h2 style="text-align: center;">Welcome to Private Posts !</h2>



<main>
    <h2 style="text-align: center;">Welcome to Private Posts !</h2>
    <%= for (var i = 0; i < userMap.length;  i++ ) { %>
        <div class='container'>
            
            <div><span>Title:    :</span>    <%= userMap[i].title %></div><br/>
            <div><span>Message:  :</span>    <%= userMap[i].message %></div><br/>
            <br/>

        </div>
    <%= } %>

        
</main>